[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/gnupg"]
	path = bundle/gnupg
	url = https://github.com/vim-scripts/gnupg.vim
